body {
	/* Back-up color in case of image errors.*/
	background-color: lightgray;
	background-image: url("../images/background/old_wall.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 96vh;
	margin: 2vh 1vw;
	padding: 2vh 1vw;
	width: 98vw;
}

.btn-thin {
	padding: 0 15px;
}

.update-form {
	width: 50%;
}

.welcome,
.update-form-container,
.gps-svg {
	display: none;
}

.input-group {
	width: 100%;
	margin: 1% 0;
}

.list-style {
	list-style: none;
	padding-left: 0;
}

.well {
	align-items: stretch;
}

.your-news {
	width: 100%;
	/*padding-left: 0;*/
}

.linkSource {
	margin: 15px auto;
}

.btnSource {
	margin: 0 5px;
}

.icon {
	padding-top: 15px;
}

.container {
	width: 100%;
	margin: 0;
	padding: 0;
}

.transparency-wrapper {
	background-color: lightgray;
    background-color: rgba(255, 255, 255, .85);
    border: 0 solid transparent;
    border-radius: 5px;
	height: 100%;
	padding: 1%;
	width: 100%;
	overflow-y: auto;
}

.login-form {
	width: 33%;
}

.login {
	display: flex;
	justify-content: center;
	align-items: center;	
	height: 100%;
	width: 100%;
}

.panel-default, .panel-heading {
	background: none;
}

.inline-heading {
	clear: none;
	height: 100%;
	margin: 0;
	line-height: 28px;
}

.gps-svg {
	clear: none;
	margin: 0 auto;
}

.article {
	min-height: 200px;
}

@media only screen and (min-width: 641px) {
	.md-pull-right {
		float: right;
	}
	.md-pull-left {
		float: left;
	}
	.header {
		padding: 0 15px;
	}
}

@media only screen and (max-width: 640px) {
	.inline-heading {
		clear: both;
		margin: 0 auto;
		display: block;
		text-align: center;
		float: none;
	}

	.button-header {
		clear: both;
		margin: 1% auto;
		float: none;
		display: block;
	}
	.panel-body button {
		margin: 0 auto;
		display: block;
	}

	h4 {
		text-align: center;
	}
}